extends _partials/_layout.pug

block content
  h1 npm-starter-bp-pug
  p.
    This paragraph text is black unless the viewport is smaller than 800px. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quis voluptates aut aspernatur officia culpa explicabo asperiores sed quod, nemo.
  p.info-text.
    This is an info-text paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, neque, quibusdam. Incidunt optio nam est, fugiat exercitationem, illo eaque voluptates.

  img.icon(src='dest/img/fb.svg', alt='Facebook Icon')
  img.icon(src='dest/img/twitter-logo-silhouette.svg', alt='Twiiter Icon')
